<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto">
	<uses-sdk />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.INSTALL_PACKAGES" />
	<application android:label="Bingo" android:icon="@drawable/icon"></application>
</manifest>